@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 450px;
    }

    .rightNav{
        text-align: center;
    }

    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 69px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .section{
        flex-direction: column;
    }

    .text-big{
        text-align: center;
    }

    .text-small{
        text-align: center;
    }

    .text-verybig{
        text-align: center;
    }

    .text-normal{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }

    .paras{
        padding: 0px;
        text-align: center;
    }
}